<div class="app-sidebar">
    <div class="logo logo-sm">
        <a href="">ConferenceManager</a>
    </div>
    <div class="app-menu">
        <ul class="accordion-menu">
            <li class="sidebar-title">
                应用
            </li>
            <li>
                <a href="/home"><i class="material-icons-two-tone">dashboard</i>会议列表</a>
            </li>
            <!--            <li class="active-page">-->
            <li>
                <a href="#"><i class="material-icons-two-tone">edit</i>论文投稿<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                <ul class="sub-menu" style="display: none;">
                    <li>
                        <a href="/submit">新增投稿</a>
                    </li>
                    <li>
                        <a href="/my_submissions">我的投稿</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="material-icons-two-tone">star</i>审稿相关<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                <ul class="sub-menu" style="display: none;">
                    <li>
                        <a href="/invitation">审稿邀请</a>
                    </li>
                    <li>
                        <a href="/my_review">我的审稿</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

